@model Pizzapan.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="CategoryID"/>
    
    <input type="text" class="form-control" asp-for="CategoryName" style="background-color:darkgray" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>