<div class="w3l-top-header">
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-pie-chart"></span> Pizza pan
                </a>
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item @@index-active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @@about-active">
                            <a class="nav-link effect-3" href="about.html">Hakkımda</a>
                        </li>
                        <li class="nav-item @@services-active">
                            <a class="nav-link effect-3" href="services.html">Menü</a>
                        </li>
                        <li class="nav-item @@contact-active">
                            <a class="nav-link effect-3" href="contact.html">İletişim</a>
                        </li>
                        <li class="px-4 fill-none">
                            <a href="#url" class="btn btn-style btn-secondary">Online Siparişler</a>
                        </li>
                    </ul>
                    <div class="popup">
                        <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
                            <div class="hamburger1">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>