@model LoginViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<center><form method="post">
    <label>Kullanıcı adınız</label>
    <input type="text" class="form-control" asp-for="UserName" />
    <br />
    <label>Şifreniz</label>
    <input type="password" class="form-control" asp-for="Password" />
    <br />
    <button class="btn btn-primary">Giriş Yap</button>
</form>
</center>

