@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/proje3_admin/sidebar-09/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(/proje3_admin/sidebar-09/images/bg_1.jpg);">
               
                <div class="user-logo">
                    <div class="img" style="background-image: url(/proje3_admin/sidebar-09/images/logo.jpg);"></div>
                    <h3>Catriona Henderson</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-home mr-3"></span> Dashboard</a>
                </li>
                <li>
                    <a href="/Category/Index/"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Kategoriler</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-gift mr-3"></span> İndirim Kodları</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-trophy mr-3"></span> Ürünler</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cog mr-3"></span> Referanslar</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-support mr-3"></span> Mesajlar</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Personeller</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> İstatistikler</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Ayarlar</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            
            @RenderBody()
        </div>
    </div>

    <script src="~/proje3_admin/sidebar-09/js/bootstrap.min.js"></script>
    <script src="~/proje3_admin/sidebar-09/js/jquery.min.js"></script>
    <script src="~/proje3_admin/sidebar-09/js/popper.js"></script>
    <script src="~/proje3_admin/sidebar-09/js/popper.js"></script>

</body>
</html>