@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Gelen Mesajlar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Sil</th>
        <th>Mesajı Gör</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@(((DateTime)item.SendDateMessage).ToString("dd-MMM-yyyy"))</td>
            <td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-danger">Mesajı Sil</a></td>
            <td> <a href="/Contact/MessageDetailsContact/@item.ContactID" class="btn btn-outline-info">Mesajı Gör</a></td>
        </tr>
    }
</table>